* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #333333;
  scroll-behavior: smooth;
  color: #262626;
}

body header {
  background-color: #262626;
  padding: 16px 0;
}

body header .container .row .col#logo a {
  width: 60px;
}

body header .container .row .col#logo img {
  width: 51px;
}

body header .container .row .col nav ul li a {
  color: #ededed;
  font-size: 1rem;
}

body header .container .row .col nav ul li a:hover {
  color: #1bcfbd;
}

body header .container .row .col nav ul li a.active {
  color: #1bcfbd;
}

body .main h2 {
  color: #1bcfbd;
  font-size: 2rem;
}

body .main #slider button i {
  font-size: 35px;
}

body .main #slider .cover {
  position: absolute;
  background-color: rgba(40, 40, 40, 0.3);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body .main #slider #text-cont {
  background-color: rgba(240, 240, 240, 0.2);
  width: 500px;
  height: 200px;
  z-index: 10;
  left: 50%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .main #slider #text-cont h1 {
  font-size: 1.6rem;
  color: #1bcfbd;
  margin-bottom: 20px;
}

body .main #slider #text-cont p {
  font-size: 1.1rem;
  color: #ededed;
}

body .main #slider img {
  height: 680px;
  width: 100%;
}

body .main #info {
  color: #ededed;
  padding: 2rem 4rem 4rem 4rem;
  background-color: #333333;
}

body .main #info h2 {
  margin-bottom: 4rem;
}

body .main #info .row .col h3 {
  color: #1bcfbd;
}

body .main #info .row .col img {
  width: 90%;
  -webkit-box-shadow: 0px 0px 20px #262626;
          box-shadow: 0px 0px 20px #262626;
  border-radius: 10px;
}

body .main #info .row #info-text h3 {
  font-size: 1.5rem;
  margin-top: 60px;
  margin-bottom: 30px;
}

body .main #info .row #info-text p {
  line-height: 1.5rem;
  font-size: .95rem;
}

body .main #info .row #info-text a {
  text-decoration: none;
  padding: 6px 13px;
  border: none;
  -webkit-box-shadow: 0 0 10px #262626;
          box-shadow: 0 0 10px #262626;
  margin-top: 30px;
  background-color: #1bcfbd;
  color: #262626;
  border-radius: 4px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body .main #info .row #info-text a:hover {
  color: #1bcfbd;
  background-color: #262626;
}

body .main #offer {
  background-color: #262626;
  color: #ededed;
}

body .main #offer h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 20px;
}

body .main #offer .container .row {
  margin-top: 45px;
  margin-bottom: 10px;
}

body .main #offer .container .row .col {
  background-color: #333333;
  -webkit-box-shadow: 0px 0 20px #333333;
          box-shadow: 0px 0 20px #333333;
  margin: 0 1px;
  padding: 20px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main #offer .container .row .col .icon-img {
  color: #1bcfbd;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 30px;
}

body .main #offer .container .row .col .icon-img i {
  font-size: 1.3rem;
}

body .main #offer .container .row .col h3 {
  font-size: 1.35rem;
  color: #1bcfbd;
}

body .main #offer .container .row .col p {
  font-size: .86rem;
  margin-top: 17px;
  line-height: 1.6rem;
  text-align: center;
}

body .main #team .col {
  -webkit-box-shadow: 0px 0px 20px #262626;
          box-shadow: 0px 0px 20px #262626;
  border-radius: 5px;
  color: #ededed;
  margin: 20px 20px 0 20px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

body .main #team .col:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

body .main #team .col h3 {
  font-size: 1.2rem;
}

body .main #team .col img {
  width: 200px;
  margin: 20px 0;
  -webkit-filter: grayscale(0.2);
          filter: grayscale(0.2);
}

body .main #team .col p {
  font-size: .9rem;
}

body .main #gallery {
  background-color: #262626;
  margin-top: 100px;
  width: 90%;
  padding: 20px;
}

body .main #gallery h2 {
  text-align: center;
  font-size: 2rem;
  margin: 30px 0px 60px 0;
  font-size: 2.3rem;
}

body .main #gallery h3 {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0px;
  color: #1bcfbd;
  font-size: 1.7rem;
}

body .main #gallery .row .col img {
  border-radius: 6px;
  width: 360px;
  -webkit-box-shadow: 0 0 15px #1f1f1f;
          box-shadow: 0 0 15px #1f1f1f;
}

body footer {
  background-color: #262626;
  margin-top: 5rem;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: 0px -1px 20px #262626;
          box-shadow: 0px -1px 20px #262626;
  color: #ededed;
}

body footer .container-fluid h2 {
  font-size: 1.3rem;
  text-align: center;
  color: #1bcfbd;
}

body footer .container-fluid p {
  margin-top: 20px;
  text-align: center;
  color: #1bcfbd;
  margin: 0;
  padding: 0;
}

body footer .container-fluid .row .col nav ul li {
  display: block;
}

body footer .container-fluid .row .col nav ul li a {
  color: #ededed;
  padding: 0;
  font-size: .95rem;
}

body footer .container-fluid .row .col nav ul li a:hover {
  color: #1bcfbd;
}

body footer .container-fluid .row .col nav ul li a.active {
  color: #1bcfbd;
}

body footer .container-fluid .row .col #pages {
  margin-top: 40px;
  margin-bottom: 20px;
}

body footer .container-fluid .row .col #pages nav {
  margin: 0 20px;
}

body footer .container-fluid .row .col #contact {
  margin-top: 30px;
}

body footer .container-fluid .row .col #contact p {
  color: #ededed;
  margin: 0;
  font-size: .9rem;
}

body footer .container-fluid .row .col #contact p:nth-child(odd) {
  margin-top: 10px;
  margin-bottom: 4px;
}

body footer .container-fluid .row .col #socials {
  margin-top: 40px;
  margin-bottom: 20px;
}

body footer .container-fluid .row .col #socials nav {
  margin: 5px 0;
}

body footer .container-fluid .row .col #socials nav ul li a {
  font-size: 1.05rem;
  margin: 0 6px;
  text-align: center;
  width: 20px;
}

body footer #copy {
  position: relative;
  margin-top: 35px;
}

body footer #copy:before {
  content: '';
  top: -70%;
  width: 40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background-color: #1bcfbd;
}

body #scroll-arrow {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 2%;
  right: .5%;
  border-radius: 50%;
}

body #scroll-arrow a {
  text-decoration: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  color: #1bcfbd;
  padding: 20px;
  font-size: 3rem;
  -webkit-transition: -webkit-transform .2s ease-in-out color .4s ease-in-out;
  transition: -webkit-transform .2s ease-in-out color .4s ease-in-out;
  transition: transform .2s ease-in-out color .4s ease-in-out;
  transition: transform .2s ease-in-out color .4s ease-in-out, -webkit-transform .2s ease-in-out color .4s ease-in-out;
}

body #scroll-arrow a:hover {
  color: #ededed;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 1px #333333;
          box-shadow: inset 0px 0px 1px #333333;
  background-color: #333333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #1bcfbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ededed;
}
/*# sourceMappingURL=style.css.map */