$svetlo-crna:#333333;
$crna:#262626;
$plava:#1bcfbd;
$bela: #ededed;

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexcol {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
@mixin transition {
        transition: .4s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: $svetlo-crna;
    scroll-behavior: smooth;
    color: $crna;
    header{
        background-color: $crna!important;
        padding: 16px 0;
        box-shadow: 0 2px 15px $crna;
    }
    .navbar-dark{
        .navbar-brand{
            img{
                width: 50px;
            }
        }
        .navbar-nav{
            .nav-link{
                color: $bela;
                font-size: .98rem;
                margin-bottom: 0;
                padding: 4px;
                margin: 0 4px;
                &:hover{
                    color: #1bcfbd;
                }
                &.active{
                    color: $plava;
                }
            }
        }
    }
    .main{
        h2{
            color: $plava;
            font-size: 2rem;
        }
        #slider{
            box-shadow: 0 2px 10px $crna;
            button i{
                font-size: 35px;
            }
            .cover{
                position: absolute;
                background-color: rgba(40, 40 , 40 , .3  );
                backdrop-filter: blur(0px);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            #text-cont{
                background-color: rgba(240 ,240 ,240 ,0.2);
                width: 40%;
                height:200px;
                z-index: 10;
                left: 50%;
                backdrop-filter: blur(4px);
                border-radius: 5px;
                transform: translate(-50% ,-50%);
                h1{
                    font-size: 1.6rem;
                    color: $plava;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 1.1rem;
                    color:$bela;
                }
            }
            img{
                height: 680px;
                width: 100%;
            }
        }
        #info{
            color: $bela;
            padding:2rem 4rem 4rem 4rem;
            background-color: $svetlo-crna;
            h2{
                margin-bottom:2rem;
            }
            .row{
                margin-top: 70px;
                .col{
                    &:first-child{
                        @include flexcol();
                        justify-content: center;
                    }
                    h3{
                        color: $plava;
                    }
                    img{
                        width: 90%;
                        box-shadow: 0px 0px 20px $crna;
                        border-radius: 10px;
                    }
                }
                #info-text{
                    h3{
                        font-size: 1.5rem;
                        margin-top: 60px;
                        margin-bottom: 30px;
                    }
                    p{
                        line-height: 1.5rem;
                        font-size: .95rem;
                        text-align: center;
                    }
                    a{
                        text-decoration: none;
                        padding: 6px 13px;
                        border: none;
                        box-shadow: 0 0 10px $crna;
                        margin-top: 30px;
                        border-radius: 4px;
                        color: $plava;
                        transition: .2s ease-in-out;
                        background-color: $svetlo-crna;
                        border: 1px solid $plava;
                        &:hover{
                            color: $crna;
                            background-color: $plava;
                        }
                    }
                }
            }
        }
        #offer{
            background-color: #262626;
            color: $bela;
            box-shadow: 0 0 12px $crna;
            h2{
                text-align: center;
                font-size: 2rem;
                margin: 0 20px;
            }
            .container{
                .row{
                    margin-top: 45px;
                    margin-bottom: 10px;
                    .col{
                        background-color: $svetlo-crna;
                        box-shadow: 0px 0 20px $svetlo-crna;
                        margin: 0 1px;
                        padding: 20px;
                        @include transition();
                        border-radius: 6px;
                        // &:nth-child(2){
                        //     transform: translateY(-20px);
                        // }   
                        @include flexcol();
                        .icon-img{
                            color: $plava;
                            background-color: $crna;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-top: 20px;
                            margin-bottom: 30px;
                            i{
                                font-size: 1.3rem;
                            }
                        }
                        h3{
                            font-size: 1.35rem;
                            color: $plava;
                        }
                        p{
                            font-size: .86rem;
                            margin-top: 17px;
                            line-height: 1.6rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
        #team{
            .col{
                box-shadow: 0px 0px 20px $crna;
                border-radius: 5px;
                color: $bela;
                margin:20px 0 20px 0  ;
                @include transition();
                &:hover{
                    transform: translateY(-20px);
                }
                h3{
                    font-size: 1.2rem;
                    color: $plava;
                }
                img{
                    width: 200px;
                    margin: 20px 0;
                    filter: grayscale(.2);
                    box-shadow: 0 0 10px $crna;
                }
                p{
                    color: $bela;
                    font-size: .9rem;
                }
            }
        }
        #service{
            width: 100%;
            h2{
                text-align: center;
                font-size: 2rem;
            }
            h3{
                font-size: 1.7rem;
                color: $plava;
                text-align: center;
                margin: 80px 0 50px 0 ;
            }
            .row{
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0 0 10px $crna;
                .col{
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    h3{
                        text-align: center;
                        font-size: 1.37rem;
                        color: $plava;
                        margin: 0px 0 45px 0;
                    }
                    p{
                        width: 80%;
                        color: $bela;
                        font-size: .97rem;
                        text-align: center;
                        line-height: 1.71rem;
                    }
                    .img-box{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        img{
                            height: 100%;
                            width: 100%;
                            filter: grayscale(.2);
                        }
                        .country{
                            position: absolute;
                            background-color: rgba(38 ,38  , 38, .84);
                            padding:5px 10px;
                            border: .5px solid $plava;
                            border-radius: 5px;
                            @include flexbox();
                            opacity: 1;
                            z-index: 15;
                            @include transition();
                            transition-duration: .25s;
                            p{
                                margin: 0;
                                color: $plava;
                            }
                        }
                        .cover{
                            width: 100%;
                            height: 100%;
                            background-color: rgba(38 ,38  , 38, .9);
                            position: absolute;
                            top: 0;
                            @include transition();
                            transition-duration: .25s;
                        }
                        &:hover > .cover{
                            background-color: rgba(51, 51, 51 , .25);
                        }
                        &:hover > .country{
                            opacity: 0;
                        }
                    }
                }
                .text-box{
                    @include flexcol();
                    padding: 30px 5px;
                    justify-content: center;
                    background-color: $crna;
                }
            }
        }
        #gallery{
            background-color: $crna;
            margin-top: 80px;
            width: 90%;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 20px $crna;
            h2{
                text-align: center;
                font-size: 2rem;
                margin: 30px 0px 60px 0;
                font-size: 2.3rem;
            }
            h3{
                text-align: center;
                font-size: 2rem;
                margin: 50px 0px;
                color: $plava;
                font-size: 1.7rem;
            }
            .row{
                .col{
                    position: relative;
                    padding: 0 12px;
                    img{
                        border-radius: 6px;
                        filter: grayscale(.2);
                        width: 100%;
                        box-shadow: 0 0 10px $svetlo-crna;
                    }        
                    &:hover > .city-name{
                        height: 100%;
                        width: calc(100% - 24px);
                        opacity: 1;
                    }
                    .city-name{
                        background-color: rgba(38, 38, 38 , .9);  
                        background-color: rgba(51, 51, 51 , .9);  
                        background-color: rgba(27, 207, 189 , .6); 
                        //background-color: rgba(237, 237, 237 , 0.2);  
                        backdrop-filter: blur(2px);
                        color: $svetlo-crna;
                        width: calc(100% - 24px);
                        opacity: 0;
                        height: 100%;
                        top: 0;
                        position: absolute;
                        z-index: 10;
                        @include flexbox();
                        @include transition();
                        transition-duration: .25s;
                        justify-content: center;
                        border-radius: 6px;
                        p{
                            text-align: center;
                            color: $svetlo-crna;
                            font-size: 1.15rem;
                            padding: 5px 10px;
                            margin: 0;
                            background-color: $bela;
                            border-radius: 5px;
                            box-shadow:  0 0 3px $svetlo-crna;
                        }
                    }
                }
            }
        }
        #map{
            h2{
                text-align: center;
                margin-top: 20px;
                margin-bottom: 58px;
            }
            .row{
                .col-12{
                    .gmap_canvas{
                        overflow:hidden;
                        filter:grayscale(1);
                        height:400px;
                        width:100%;
                    }
                    .mapouter{
                        box-shadow: 0 0 15px $crna; 
                        position:relative;
                        text-align:center;
                        height:400px;
                        width:80%;
                    }
                }
            }
        }
        #contact{
            padding: 0;
            width: 75%!important;
            margin: 100px auto;
            .row{
                .col{
                    &:nth-child(1){
                        box-shadow: -1px -1px 10px $crna;
                        border-radius: 5px 0 0 5px;
                        background-color: $crna;    
                    }
                    &:nth-child(2){
                        background-color: $plava;
                        box-shadow: 1px 0px 10px $plava ;
                        border-radius:0  5px 5px 0;
                    }
                    padding: 0;
                    #form{
                        padding:40px 0px;
                        @include flexcol();
                        h3{
                            color: $plava;
                            text-align: center;
                            margin-bottom: 40px;
                        }
                        form{
                            width: 67%;
                            @include flexcol();
                            .form-floating{
                                width: 100%;
                                input{
                                    background-color: transparent;
                                    outline: none;
                                    border: none;
                                    border-radius: 0;
                                    border-bottom: 1px solid $plava;
                                    color: $plava;
                                    width: 100%;    
                                    text-shadow: none;
                                    cursor:text;
                                }
                                label{
                                    color: $plava;
                                }
                            }
                            .form-check{
                                margin-top: 40px;
                                label{
                                    color: $plava;
                                    font-weight: 300;
                                    font-size: .8rem;
                                }
                                input{
                                    background-color:$crna;
                                    cursor: pointer;
                                    border: 1px solid $plava;
                                    outline: none;
                                }
                            }
                            // .log-in{
                            //     margin-top: 35px;
                            //     @include flexbox();
                            //     color: $plava;
                            //     a{
                            //         margin: 0 10px;
                            //         cursor: pointer;
                            //         transition: .24s ease-in-out;
                            //         font-size: 1rem;
                            //         padding: 1px 6px;
                            //         border-radius:4px ;
                            //         color: $plava;
                            //         background-color: $crna;
                            //         border: 1px solid $plava;
                            //         &:hover{
                            //             color: $crna;
                            //             background-color: $plava;
                            //             border: 1px solid $crna;
                            //         }
                            //     }
                            //     p{
                            //         height: 100%;
                            //         margin: 0;
                            //         font-size: .87rem;
                            //     }
                            // }
                            .btns{
                                margin-top: 30px;
                                input{
                                    background-color: $crna;
                                    color: $plava;
                                    border: none;
                                    margin: 0 10px;
                                    outline: none;
                                    border:1px solid $plava;
                                    padding: 5px 14px;
                                    transition: .3s ease-in-out;
                                    border-radius: 4px;
                                    &:hover{
                                        color: $crna;
                                        background-color: #1bcfbd;
                                    }
                                }
                            }
                        }
                    }
                    #contact-info{
                        padding:40px 0px;
                        width: 100%;
                        border-radius: 0 5px 5px 0;
                        height: 100%;
                        @include flexcol();
                        h3{
                            color: $crna;
                            text-align: center;
                            margin-bottom: 40px;
                        }
                        h4{
                            margin-top: 10px;
                            font-size: 1.4em;
                        }
                        p{
                            font-size: 1.02rem;
                        }
                    }
                }
            }
        }
        #about-us{
            h2{
                text-align: center;
                font-size: 2rem;
            }
            .row{
                width: 90%;
                margin: 80px auto;
                border-radius: 10px;
                overflow: hidden;
                box-shadow:  0 0 10px $crna;
                background-color: $crna;
                padding: 30px 0px;
                .col{
                    padding: 0;
                    margin: 0;
                    color: $bela;
                    &.about-text{
                        @include flexcol();
                        justify-content: center;
                        h3{
                            text-align: center;
                            color: $plava;
                            margin-bottom: 40px;
                            font-size: 1.4rem;
                        }
                        p{
                            width: 70%;
                            text-align: center;
                            font-size: .95rem;
                            line-height: 1.6rem;
                        }
                    }
                    .about-img{
                        width: 70%;
                        position: relative;
                        img{
                            height: 100%;
                            width: 100%;
                            filter: grayscale(.2);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        #clients{
            background-color: $plava;
            box-shadow:  0 0 6px $plava;
            .container{
                padding: 50px 0;
                .row{
                    .col{
                        position: relative;
                        @include flexbox();
                        justify-content: center;
                        .clients-text{
                            margin-left: 30px;
                            @include flexcol();
                            justify-content: center;
                            h3{
                                color: $svetlo-crna;
                                text-align: center;
                                font-size: 1.4rem;
                            }
                            p{
                                margin: 0;
                                font-size: 1.2rem;
                                color: $svetlo-crna;
                            }
                        }
                        i{
                            color: $svetlo-crna;
                            font-size: 1.6rem;
                        }
                        &::after{
                            content: '';
                            width: 1px;
                            height: 100% ;
                            background-color: $svetlo-crna;
                            position: absolute;
                            right: 0;
                            box-shadow: 0 0 2px $svetlo-crna;
                        }
                        &:nth-child(3)::after{
                            content: none;
                        }
                    }
                }
            }
        }
        #business{
            margin-top: 90px;
            padding: 80px 0 100px 0;
            background-color: $crna;
            box-shadow: 0 0 20px $crna;
            position: relative;
            // &::after{
            //     content: '';
            //     width: 70%;
            //     height: 3px;
            //     position: absolute;
            //     bottom: 0;
            //     left: 15%;
            //     background-color: $svetlo-crna;
            // }
            .container{
                h2{
                    text-align: center;
                    font-size: 2rem;
                    margin-bottom: 80px;
                }
                .row{
                    margin:  0 auto;
                    .col{
                        @include flexbox();
                        justify-content: center;
                        .container{
                            box-shadow:  0 0 19px $svetlo-crna;
                            width: 84%;
                            background-color: $svetlo-crna;
                            padding: 40px 20px;
                            margin: 0;
                            @include flexcol();
                            justify-content: center;
                            color: $plava;
                            height: 100%;
                            border-radius: 5px;
                            h3{
                                font-size: 1.5rem;
                            }
                            .bus-icons{
                                @include flexbox();
                                justify-content: center;
                                margin: 23px 0 ;
                                width: 63px;
                                height: 63px;
                                box-shadow: 0 0 4px $plava;
                                border-radius: 50%;
                                background-color: $crna;
                                i{
                                    font-size: 1.4rem;
                                }
                            }
                            p{
                                color: $bela;
                                width: 85%;
                                font-size: .92rem;
                                line-height: 1.6rem;
                                margin-top: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color: $crna;
        margin-top: 5rem;
        padding: 60px 0 40px 0;
        box-shadow: 0px -2px 20px $crna;
        color: $bela;
        .container-fluid{
            h2{
                font-size: 1.3rem;
                text-align: center;
                color: $plava;
            }
            p{
                margin-top: 20px;
                text-align: center;
                color: $plava;
                margin: 0;
                padding: 0;
            }
            .row{
                width: 80%!important;
                margin: 0px auto;
                .col{
                    padding: 5px 0 5px 0;
                    nav{
                        ul{
                            li{
                                display: block;
                                a{
                                    color: $bela;
                                    padding: 0;
                                    font-size:.95rem;
                                    &:hover{
                                        color: $plava;
                                    }
                                    &.active{
                                        color: #1bcfbd;
                                    }
                                }
                            }
                        }
                    }
                    #pages{
                        margin-top: 40px;
                        margin-bottom: 20px;
                        nav{
                            margin: 0 20px;
                        }
                    }
                    #contact{
                        margin-top: 30px;
                        p{
                            color: $bela;
                            margin: 0;
                            font-size: .9rem;
                            &:nth-child(odd){
                                margin-top: 10px;
                                margin-bottom: 4px;
                            }
                        }
                    }
                    #socials{
                        margin-top: 40px;
                        margin-bottom: 20px;
                        nav{
                            margin: 5px 0;
                            ul{
                                li{
                                    a{
                                        font-size: 1.05rem;
                                        margin: 0 6px;
                                        text-align: center;
                                        width: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #copy{
            position: relative;
            margin-top: 35px;
            &:before{
                content: '';
                top: -70%;
                width: 40%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                height: 1px;
                background-color: $plava;
                box-shadow: 0 0 4px $plava;
            }
        }
    }
    #scroll-arrow{
        background-color: transparent;
        @include flexbox();
        justify-content: center;
        width: 65px;
        height: 65px;
        position: fixed;
        bottom: 2%;
        right: .5%;
        border-radius: 50%;
        text-shadow: 0 0 4px $plava;
        a{
            text-decoration: none;
            @include transition();
            color: $plava;
            padding: 20px;
            font-size: 3rem;
            display: none;
            transition: transform .2s ease-in-out color .4s ease-in-out;
            &:hover{
                color: $bela;
                transform: translateY(-10px);
            }
        }
    }
}

::-webkit-scrollbar {
    width: 11px;

}
::-webkit-scrollbar-track {
    box-shadow:inset 0px 0px 1px $svetlo-crna; 
    background-color: $svetlo-crna;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $plava; 
}
::-webkit-scrollbar-thumb:hover {
    background: $bela; 
}